@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1445415139_5233579.eot');
  src: url('//at.alicdn.com/t/font_1445415139_5233579.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1445415139_5233579.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1445415139_5233579.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1445415139_5233579.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
@font-face {
  font-family: myFont;
  src: url('../font/number.TTF') format('truetype');
}
/* loading */
.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1040;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.loading ul {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 40px;
  height: 40px;
}
.loading ul li {
  position: absolute;
  width: 100%;
  height: 100%;
}
.loading ul li:nth-child(1) p:nth-child(2) {
  animation-delay: -0.9s;
  -webkit-animation-delay: -0.9s;
}
.loading ul li:nth-child(1) p:nth-child(3) {
  animation-delay: -0.6s;
  -webkit-animation-delay: -0.6s;
}
.loading ul li:nth-child(1) p:nth-child(4) {
  animation-delay: -0.3s;
  -webkit-animation-delay: -0.3s;
}
.loading ul li:nth-child(2) {
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
}
.loading ul li:nth-child(2) p:nth-child(1) {
  animation-delay: -1.1s;
  -webkit-animation-delay: -1.1s;
}
.loading ul li:nth-child(2) p:nth-child(2) {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}
.loading ul li:nth-child(2) p:nth-child(3) {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}
.loading ul li:nth-child(2) p:nth-child(4) {
  animation-delay: -0.2s;
  -webkit-animation-delay: -0.2s;
}
.loading ul li:nth-child(3) {
  transform: rotateZ(90deg);
  -webkit-transform: rotateZ(90deg);
}
.loading ul li:nth-child(3) p:nth-child(1) {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}
.loading ul li:nth-child(3) p:nth-child(2) {
  animation-delay: -0.7s;
  -webkit-animation-delay: -0.7s;
}
.loading ul li:nth-child(3) p:nth-child(3) {
  animation-delay: -0.4s;
  -webkit-animation-delay: -0.4s;
}
.loading ul li:nth-child(3) p:nth-child(4) {
  animation-delay: -0.1s;
  -webkit-animation-delay: -0.1s;
}
.loading ul li p {
  width: 10px;
  height: 10px;
  margin-bottom: 0;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  position: absolute;
  background-color: #ffffff;
  animation: bouncedelay 1.2s infinite ease-in-out both;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out both;
}
.loading ul li p:nth-child(1) {
  top: 0;
  left: 0;
}
.loading ul li p:nth-child(2) {
  top: 0;
  right: 0;
}
.loading ul li p:nth-child(3) {
  bottom: 0;
  right: 0;
}
.loading ul li p:nth-child(4) {
  bottom: 0;
  left: 0;
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/* /loading */
/* 确定modal */
.modal-dialog {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 280px;
  height: 100px;
}
.modal-dialog p {
  color: #000000;
  font-size: 16px;
  margin-bottom: 0;
}
.modal-dialog p:nth-child(1) {
  padding: 15px 20px;
}
.modal-dialog .btn-group-justified {
  border-top: 1px solid #dadada;
}
.modal-dialog .btn-group-justified .btn {
  color: #000000;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
}
.modal-dialog .btn-group-justified .btn:nth-child(2) {
  border-left-color: #dadada;
}
.modal-dialog .btn-group-justified .btn:active {
  background-color: #e7eaed;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.modal-dialog .btn-group-justified .btn:focus {
  outline: 0;
}
/* /确定modal */
html,
body {
  width: 100%;
  height: 100%;
}
body {
  user-select: none;
  -webkit-user-select: none;
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #f5f5f5;
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.jumbotron {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 5%;
  height: 190px;
  color: #ffffff;
  background-color: #f46652;
}
.jumbotron ul {
  margin-bottom: 0;
}
.jumbotron ul li:nth-child(1) {
  font-size: 18px;
}
.jumbotron ul li:nth-child(1) span {
  font-size: 600%;
  font-family: myFont;
  line-height: 75px;
}
.jumbotron ul li:nth-child(3) span {
  width: 25px;
  height: 25px;
  background: url("../img/red_error_icon.png") no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  display: inline-block;
  vertical-align: bottom;
}
.jumbotron div p:nth-child(1) {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background: url("../img/switch_off_bg.png") no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}
.jumbotron div p:nth-child(1) span {
  display: inline-block;
  margin-top: 7px;
  width: 25px;
  height: 25px;
  background: url("../img/power_icon.png") no-repeat;
  background-size: 79px 27px;
  -webkit-background-size: 79px 27px;
  background-position: -1px -1px;
}
.jumbotron div.switch_on_state p:nth-child(1) {
  background-image: url("../img/switch_on_bg.png");
}
.jumbotron div.switch_on_state p:nth-child(1) span {
  background-position: -53px -1px;
}
.jumbotron.moreThan_tmpTarget {
  background-color: #8fb9df;
}
.jumbotron.offline_state {
  background-color: #999999;
}
.container-fluid {
  padding: 0;
}
.container-fluid.powerSwitch_off_state .btn-group-justified .btn-group:nth-child(2),
.container-fluid.powerSwitch_off_state .btn-group-justified .btn-group:nth-child(3),
.container-fluid.powerSwitch_off_state .btn-group-justified .btn-group:nth-child(4) {
  color: #b9b9b9;
}
.container-fluid.powerSwitch_off_state .btn-group-justified .btn-group:nth-child(2) p:nth-child(1) span,
.container-fluid.powerSwitch_off_state .btn-group-justified .btn-group:nth-child(3) p:nth-child(1) span,
.container-fluid.powerSwitch_off_state .btn-group-justified .btn-group:nth-child(4) p:nth-child(1) span {
  background-position: -27px -1px;
}
.container-fluid.powerSwitch_off_state .tmpTargetBox .tmpTargetPanel li:nth-child(2) {
  color: #b9b9b9;
}
.container-fluid.powerSwitch_off_state .mask {
  display: block;
}
/* switch group */
.btn-group-justified .btn-group {
  text-align: center;
  color: #808080;
}
.btn-group-justified .btn-group:nth-child(1) {
  position: relative;
  z-index: 3;
}
.btn-group-justified .btn-group:nth-child(1) p:nth-child(1) {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background: url("../img/switch_off_bg.png") no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}
.btn-group-justified .btn-group:nth-child(1) p:nth-child(1) span {
  display: inline-block;
  margin-top: 7px;
  width: 25px;
  height: 25px;
  background: url("../img/antifreeze_icon.png") no-repeat;
  background-size: 79px 27px;
  -webkit-background-size: 79px 27px;
  background-position: -1px -1px;
}
.btn-group-justified .btn-group:nth-child(1).switch_on_state p:nth-child(1) {
  background-image: url("../img/switch_on_bg.png");
}
.btn-group-justified .btn-group:nth-child(1).switch_on_state p:nth-child(1) span {
  background-position: -53px -1px;
}
.btn-group-justified .btn-group:nth-child(2) p:nth-child(1) {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background: url("../img/switch_off_bg.png") no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}
.btn-group-justified .btn-group:nth-child(2) p:nth-child(1) span {
  display: inline-block;
  margin-top: 7px;
  width: 25px;
  height: 25px;
  background: url("../img/time_icon.png") no-repeat;
  background-size: 79px 27px;
  -webkit-background-size: 79px 27px;
  background-position: -1px -1px;
}
.btn-group-justified .btn-group:nth-child(2).switch_on_state p:nth-child(1) {
  background-image: url("../img/switch_on_bg.png");
}
.btn-group-justified .btn-group:nth-child(2).switch_on_state p:nth-child(1) span {
  background-position: -53px -1px;
}
.btn-group-justified .btn-group:nth-child(3) p:nth-child(1) {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background: url("../img/switch_off_bg.png") no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}
.btn-group-justified .btn-group:nth-child(3) p:nth-child(1) span {
  display: inline-block;
  margin-top: 7px;
  width: 25px;
  height: 25px;
  background: url("../img/sleep_icon.png") no-repeat;
  background-size: 79px 27px;
  -webkit-background-size: 79px 27px;
  background-position: -1px -1px;
}
.btn-group-justified .btn-group:nth-child(3).switch_on_state p:nth-child(1) {
  background-image: url("../img/switch_on_bg.png");
}
.btn-group-justified .btn-group:nth-child(3).switch_on_state p:nth-child(1) span {
  background-position: -53px -1px;
}
.btn-group-justified .btn-group:nth-child(4) p:nth-child(1) {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background: url("../img/switch_off_bg.png") no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
}
.btn-group-justified .btn-group:nth-child(4) p:nth-child(1) span {
  display: inline-block;
  margin-top: 7px;
  width: 25px;
  height: 25px;
  background: url("../img/finesleep_icon.png") no-repeat;
  background-size: 79px 27px;
  -webkit-background-size: 79px 27px;
  background-position: -1px -1px;
}
.btn-group-justified .btn-group:nth-child(4).switch_on_state p:nth-child(1) {
  background-image: url("../img/switch_on_bg.png");
}
.btn-group-justified .btn-group:nth-child(4).switch_on_state p:nth-child(1) span {
  background-position: -53px -1px;
}
.btn-group-justified .btn-group select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
/* /switch group */
/* 设定水温 */
.tmpTargetBox {
  width: 240px;
  height: 203px;
  background: url("../img/temperature_target_bg.png") no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  position: relative;
  padding: 35px 35px 6px;
  overflow: hidden;
  color: #808080;
}
.tmpTargetBox:before {
  content: "10℃";
  position: absolute;
  bottom: -4px;
  left: 0;
}
.tmpTargetBox:after {
  content: "60℃";
  position: absolute;
  bottom: -4px;
  right: 0;
}
.tmpTargetBox .tmpTargetPanel {
  color: #f46652;
  width: 100%;
  height: 100%;
  background: linear-gradient(top, #ffffff, #e1e1e1);
  background: -webkit-linear-gradient(top, #ffffff, #e1e1e1);
  box-shadow: 0 4px 4px 0 #dadada;
  -webkit-box-shadow: 0 4px 4px 0 #dadada;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  position: relative;
}
.tmpTargetBox .tmpTargetPanel li:nth-child(1) {
  font-size: 22px;
  font-weight: bold;
  padding-top: 35px;
  line-height: 25px;
}
.tmpTargetBox .tmpTargetPanel li p {
  margin-bottom: 0;
}
.tmpTargetBox .tmpTargetPanel li p span {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  display: inline-block;
  margin-top: 35px;
}
.tmpTargetBox .tmpTargetPanel li p:nth-child(1) {
  width: 70px;
  height: 100px;
  z-index: 1;
  position: absolute;
  top: 60px;
  left: 0;
}
.tmpTargetBox .tmpTargetPanel li p:nth-child(1) span {
  border-right: 10px solid;
}
.tmpTargetBox .tmpTargetPanel li p:nth-child(2) {
  font-size: 500%;
  font-family: myFont;
  margin-top: 15px;
  line-height: 55px;
}
.tmpTargetBox .tmpTargetPanel li p:nth-child(3) {
  width: 70px;
  height: 100px;
  z-index: 1;
  position: absolute;
  top: 60px;
  right: 0;
}
.tmpTargetBox .tmpTargetPanel li p:nth-child(3) span {
  border-left: 10px solid;
}
.tmpTargetBox .tmpTargetProgressbar li {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 140px;
  margin: -20px 0 0 -20px;
  transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  overflow: hidden;
}
.tmpTargetBox .tmpTargetProgressbar li:nth-child(1) {
  transform: rotate(-34deg) skew(66deg);
  -webkit-transform: rotate(-34deg) skew(66deg);
}
.tmpTargetBox .tmpTargetProgressbar li:nth-child(2) {
  transform: rotate(-9deg) skew(66deg);
  -webkit-transform: rotate(-9deg) skew(66deg);
}
.tmpTargetBox .tmpTargetProgressbar li:nth-child(3) {
  transform: rotate(16deg) skew(66deg);
  -webkit-transform: rotate(16deg) skew(66deg);
}
.tmpTargetBox .tmpTargetProgressbar li:nth-child(4) {
  transform: rotate(41deg) skew(66deg);
  -webkit-transform: rotate(41deg) skew(66deg);
}
.tmpTargetBox .tmpTargetProgressbar li:nth-child(5) {
  transform: rotate(66deg) skew(66deg);
  -webkit-transform: rotate(66deg) skew(66deg);
}
.tmpTargetBox .tmpTargetProgressbar li:nth-child(6) {
  transform: rotate(91deg) skew(66deg);
  -webkit-transform: rotate(91deg) skew(66deg);
}
.tmpTargetBox .tmpTargetProgressbar li:nth-child(7) {
  transform: rotate(116deg) skew(66deg);
  -webkit-transform: rotate(116deg) skew(66deg);
}
.tmpTargetBox .tmpTargetProgressbar li:nth-child(8) {
  transform: rotate(141deg) skew(66deg);
  -webkit-transform: rotate(141deg) skew(66deg);
}
.tmpTargetBox .tmpTargetProgressbar li:nth-child(9) {
  transform: rotate(166deg) skew(66deg);
  -webkit-transform: rotate(166deg) skew(66deg);
}
.tmpTargetBox .tmpTargetProgressbar li:nth-child(10) {
  transform: rotate(191deg) skew(66deg);
  -webkit-transform: rotate(191deg) skew(66deg);
}
.tmpTargetBox .tmpTargetProgressbar li span {
  position: absolute;
  bottom: -97px;
  right: -97px;
  width: 200px;
  height: 200px;
  display: block;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  transform: skew(-66deg);
  -webkit-transform: skew(-66deg);
  background: radial-gradient(transparent 60%, #e7eaed 35%);
  background: -webkit-radial-gradient(transparent 60%, #e7eaed 35%);
}
.tmpTargetBox .tmpTargetProgressbar li:after {
  content: "";
  position: absolute;
  bottom: 12px;
  right: 34px;
  width: 6px;
  height: 6px;
  background-color: #f34f36;
  border: 1px solid #c1272d;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  -webkit-border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 50%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  transform: skew(-66deg);
  -webkit-transform: skew(-66deg);
  display: none;
}
.tmpTargetBox .tmpTargetProgressbar li.showRound:after {
  display: block;
}
/* /设定水温 */
/* 电源关闭蒙版 */
.mask {
  position: absolute;
  top: 190px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 2;
  display: none;
}

/*权限蒙版*/
.role{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1040;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
}
.role div{
    top: 110px;
    position: relative;
    float: right;
    color: #fff;
    margin-right: 20px;
}